name: demo pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Build with Maven
        run: mvn clean install -DskipTests
      - name: Login to docker hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
      - name: Build docker image
        run: docker build -t <dockerhub repository name>.
      - name: Push docker image
        run: docker push <dockerhub repository name>:latest
