name: demo pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Login to docker hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
      - name: Lese Maven-Version aus pom.xml
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Build docker image
        run: mvn spring-boot:build-image -Dspring-boot.build-image.imageName=docker.io/toxiccuss/cicd-service:${{ env.VERSION }}
      - name: Push docker image
        run: docker push docker.io/toxiccuss/cicd-service:${{ env.VERSION }}
