name: master

on:
  workflow_run:
    workflows: ["release"]
    types: [completed]

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Get project name by pom
        run: echo "PROJECT_NAME=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
      - name: Get version by pom
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Build docker image
        run: mvn spring-boot:build-image -Dspring-boot.build-image.imageName=docker.io/toxiccuss/${{ env.PROJECT_NAME }}:${{ env.VERSION }}
      - name: Login to docker hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
      - name: Push docker image
        run: docker push docker.io/toxiccuss/${{ env.PROJECT_NAME }}:${{ env.VERSION }}
